.game {
    background-color: #a3cc31;
    max-height: 80vh;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px );
    color: white;
  }

  .game-board{
    background-color: #3c5007;
    max-height: 80vh;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 1vh;
  }

  .boton{
        background-color: #526e4f;
        margin: 1vh;
        max-width: 30vh;
        font-size: 5px;
      }
  