
.imagen{
    width: 20%;
}
.imagenEtrellas{
    width: 10%;
}
.card {
    text-align: center;
    border: 1px solid #e1e1e1;
    background: white;
}

.info-card  {
    padding: 10px 20px;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  